@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

/*boutons mes listes et télécharger pdf sur cell*/
/*optimisation + images*/

body
{
    --color-turquoise: #2a94f4;
    --color-bleu-fonce: #0b4870;
    --color-jaune: #ffbe55;
    --color-blanc: white;
    --color-bleu-pale: #cce9ff;
    --font-logo: "Rancho", sans-serif;
    --font-base: 'Raleway', sans-serif;
    --font-titres: 'Arvo', serif;
    background-color: var(--color-bleu-pale);
    font-family: 'Baloo Da 2', Arial, Helvetica, sans-serif;  
}

h1, h2, h3, h4
{
    font-family: var(--font-titres);
    font-weight: bold;
}

h1 {
    margin-bottom: 1rem;
	font-size: 2.5rem;
    line-height: 3.5rem;
}

h2
{
    color: var(--color-turquoise);
    font-size: 2.2rem;
    padding-bottom: 3rem;
}

h3
{
    margin-bottom: 1rem;
}

h4
{
    color: var(--color-blanc);
}


.photoCredit
{
    font-size: 0.6rem;
}



/*navigation*/

.navbar-custom {
	background-color: var(--color-bleu-fonce);
	box-shadow: 0 0.06rem 0.8rem 0 rgba(0, 0, 0, 0.1);
	font: 600 0.9rem/0.9rem var(--font-base);
	transition: all 0.2s;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 8rem;
	height: 2rem;
}

.navbar-custom .navbar-brand.logo-text {
	font: 2rem/1.5rem var(--font-logo); 
	color: var(--color-blanc);
	text-decoration: none;
}

.navbar-custom .navbar-nav {
	margin-top: 0.7rem;
	margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link 
{
    color: var(--color-blanc);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: var(--color-turquoise);
}

.navbar-custom .navbar-toggler {
	border: none;
	color: var(--color-blanc);
    font-size: 2rem;
    outline: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}

.iconeLogo
{
    margin-right: 10px;
}

/*header*/

.header
{
    margin-bottom: 5rem;
}

.header .header-content 
{
    padding-top: 8rem;
}

.text-container
{
    padding-top: 5rem;
}

@media (max-width: 992px) {
    .text-container
    {
        padding-top: 1rem;
    }
}


.p-large 
{
    font-size: 1.5em;
	margin-bottom: 2rem;
}

.text-entete
{
    color: var(--color-turquoise);
    display: block;
}

/*section Informations*/

#informations
{
    padding-top: 6rem;
}


#informations img
{
    padding-bottom: 2rem;

}

#informations i
{
    color: var(--color-bleu-fonce);
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 10px;
}

.text-informations
{
    padding-top: 3rem;
    width: 50%;
}

@media (max-width: 1400px) {
    .text-informations
    {
        width: 100%;
    }
}

.sous-section
{
    padding: 2.5rem;
}

#informations .p-md
{
    margin-bottom: 2rem;
}


/*Footer*/

#footer
{
    background-color: var(--color-bleu-fonce);
    padding-bottom: 2rem;
    padding-top: 2rem;
}

#footer img
{
    width: 30%;
}

#footer .p-md
{
    color: var(--color-blanc);
}

#footer i
{
    background-color: var(--color-turquoise);
    border: 3px solid var(--color-turquoise);
    border-radius: 50px;
    color: var(--color-blanc);
    font-size: 2.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

#footer i:hover
{
    background-color: var(--color-bleu-fonce);
    color: var(--color-turquoise);
}

.copyright
{
    color: var(--color-turquoise);
    font-size: 0.6rem;
    padding-top: 2rem;
    text-align: center;
}

@media (max-width: 992px) {
    .text-container-contact
    {
        text-align: center;
    }

    #footer i
    {
        font-size: 1.5rem;
    }

    #footer img, #footer .photoCredit
    {
        display: none;
    }
}


/*boutons*/

.btn-solid-lg 
{
	display: inline-block;
	padding: 1.3rem 2.6rem;
	border: 0.125rem solid var(--color-turquoise);
	border-radius: 2rem;
	background-color: var(--color-turquoise);
	color: var(--color-blanc);
	font: 700 0.75rem/0 var(--font-base);
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: var(--color-turquoise);
	text-decoration: none;
}

.nav-item .btn-solid-lg
{
    margin-left: 40px;  /*n'embarque pas????*/
    padding: 1.3rem 2.6rem;
}

@media (max-width: 767px) {
    .nav-item .btn-solid-lg
    {
        margin: 20px 0px 0px;
    }
}